* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

header {
    background-color: #f5ba13; 
    position: sticky;
    color: white;
    top: 0;
    z-index: 10;
    padding: 10px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 98%;
    height: 2.5rem;
}

footer p {
    color: #ccc;
}

.note {
    background: #fff;
    border-radius:7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}