* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #eee;
}

header {
    background-color: #f5ba13; 
    position: sticky;
    color: white;
    top: 0;
    z-index: 10;
    padding: 10px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
}

header h1 {
    color: #fff;
    font-family: "McLaren", cursive;
    font-weight: 200;
}

.main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin: 20px;
    width: 30%;
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px; 
    font-family: "McLaren", cursive;
    align-items: center;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 213);
    box-shadow: 0 8px 20px 1px #b0a791;
}

input, .contentInput {
    width: 60%;
    padding: 5px 16px;
    border-radius: 5px; 
    border: 1px solid #a49777;
    outline: none;
    color: rgb(109, 109, 109);
    font-size: 16px; 
    font-family: inherit;
    line-height: 1.5;
    transition: transform 0.25s ease,
                border 0.25s ease,
                box-shadow 0.25s ease;

}

.contentInput {
    outline: none;
    height: 100px;
    font-size: 16px; 
    font-family: inherit;
    line-height: 1.5; 
    resize: vertical;
}

input:focus, .contentInput:focus {
    box-shadow: 0 8px 20px 1px #ffe091;
    border: 2px solid #c59418;
    transform: scale(1.03);
}

.add-button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 28px;
    background-color: #ffbb00; 
    color: white;
    border: 1px solid #bbbbbb; 
    font-weight: bolder;
    transition: transform 0.25s ease,
                border 0.25s ease,
                box-shadow 0.25s ease;    
}

.add-button:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 32px 2px #c18f12;
    cursor: pointer;
}

.add-button:active {
    transform: translateY(-1px);
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 98%;
    height: 1.75rem;
}

footer p {
    color: #ccc;
}

.note {
    background: #fff;
    border-radius:7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 16px;
    padding: 24px;
    max-width: 1500px;
    margin: auto;
}